@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* global */

body {
  padding-top: 60px;
}

label {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}

/* header */

.navbar-brand {
  margin-left: 10px;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-transform: lowercase;
}

ul.navbar-nav {
  li {
    margin-top: 7px;
  }
}

/* posts */

ul.info {
  margin-top: 10px;
  list-style: none;
  padding: 0px;
  color: #4d4d4d;
  li {
    display: inline;
    margin-right: 10px;
  }
  li.control {
    margin-right: 2px;
    padding: 4px;
    border-radius: 3px;
    a {
      text-decoration: none;
    }
  }
  li.control.edit {
    background-color: #dff0d8;
    a {
      color: #468847;
    }
    &:hover {
      padding: 3px;
      border: 1px solid #468847;
    }
  }
  li.control.delete {
    background-color: #f2dede;
    a {
      color: #b94a48;
    }
    &:hover {
      padding: 3px;
      border: 1px solid #b94a48;
    }
  }
}

.post {
  p {
    img {
      display: block;
      margin: 0px auto 10px auto;
    }
  }
}
